<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">
            <div style="text-align:center">
           <h2>Feel free to contact us for any queries and suggestion</h2>
            
           <a href="https:\\friendsKart@gmail.com">Email us</a>
             </div>
            
         </div>
    </div>


<% include ../partials/footer.ejs %>
