<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">
         <div style="text-align:center">
        
             <h2>No of products:<%= count %></h2>
             <h2>No of products in sale:<%= stats.productsInSale%></h2>
             <h2>No of products Sold:<%= stats.productsSold%></h2>
             <h2>No of users:<%= users%></h2>
            
         </div>
    </div>
</div>

<% include ../partials/footer.ejs %>



<% include ../partials/footer.ejs %> 