<% include ../partials/header.ejs %>
<!-- Latest compiled and minified JavaScript -->
<style>
    html{
        height:100%;
    }
    body{
        height:100%;
        background-position: center;
    	background-size: cover;
    }
    
</style>
    </head>
    <body>
        <div class="container" >
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div id="loading_img">
          <img   src="/stylesheets/loading.gif" />
            <div id="loading">
    <div class="preloader">
      <div class="preloader-dots">
          <h1>
        <div class="dot-container"><div class="dot-letter">U</div><div class="dot"></div></div>
        <div class="dot-container"><div class="dot-letter">p</div><div class="dot"></div></div>
        <div class="dot-container"><div class="dot-letter">L</div><div class="dot"></div></div>
        <div class="dot-container"><div class="dot-letter">o</div><div class="dot"></div></div>
        <div class="dot-container"><div class="dot-letter">A</div><div class="dot"></div></div>
        <div class="dot-container"><div class="dot-letter">d</div><div class="dot"></div></div>
        <div class="dot-container"><div class="dot-letter">I</div><div class="dot"></div></div>
        <div class="dot-container"><div class="dot-letter">n</div><div class="dot"></div></div>
        <div class="dot-container"><div class="dot-letter">G</div><div class="dot"></div></div>
        </h1>
      </div>
    </div>
  </div>
        
        </div>
                </div>
            </div>
        
              
        </div>
        
<% include ../partials/footer.ejs %>
    
    
    